* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom right, #FD8451, #FFBD6F );
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
table {
    border-collapse: collapse;
}
td {
    border: 8px solid black;
    padding: 60px; 
    color: white;
    height: 30px;
    width: 40px;  
}
td:last-child {
    border-right: 0;
}
td:first-child {
    border-left: 0;
    
}
td:nth-child(-n + 3) {
 border-top: 0;
}
td:nth-last-child() {
    border: none;
}
td {
    font-size: 60px;
    
}
table {
    box-sizing: border-box;
}
table tr:last-child td{
    border-bottom: 0;
}

#winner {
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100vw;
    background-color: black;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
   
    padding: 20px 30px;
    color: black;
    background-color: white;
    border: 3px solid red;
    border-radius: 10px;
    font-size: 20px;

}
.block {
   visibility: block;
  
}
.hidden {
    visibility: none;
}
#state {
    color: white;
    position: absolute;
    top: 30%;
    font-size: 60px;
    
}